@charset "UTF-8";
/* CSS Document */

/*------------------------------General Properties------------------------------*/

/*Basic reset*/
div,p,body,header,footer,section,article,nav 
{ 
	margin: 0; 
	padding: 0; 
}	

img 
{ 
	border: none; /*Remove border if image is a link*/
	margin: 0; 
	padding: 0; 
}

body 
{
	font-family: Arial, sans-serif;
	font-size: 12px;
	color: #333;
}

a:link, a:visited 
{ 
 	text-decoration:none; 
 	display: inline;	
}

a:hover, a:active 
{ 
	text-decoration:none; 
}

/*Hide elements from browser but show for doc outline*/
.hidden
{
	display: none;
}

/*Top bar properties*/
#topBar
{
	background-color: #163e73;
	height: 30px;
}

#topBarCon
{
	width: 920px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	color: white;
	text-transform: uppercase;
}

/*Social media properties*/
#socialMedia
{
	height: 30px;
}

#iconNav
{
	list-style-type: none;
	margin: 0;
	padding-left: 0;
	padding-top: 7px;
}

#iconNav li
{
	display: inline;
	margin-right: 10px;
}

/*Search bar properties*/
#searchBar
{
	margin-left: auto;
	padding-top: 5px;
}

#searchBar input
{
	width:190px;
	height: 20px;
	padding: 3px;
	border: none;
	border-radius:2px;
}

/*Site Container*/
#siteContainer 
{
	margin: 0 auto;
	width: 920px;
	background-color: #fff;
}

/*Header properties*/
#mainHeader
{
	padding-top: 40px;
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: flex-start;
	border-bottom: solid 1px #ddd;
}

/*Logo properties*/
#logo
{
	width: 325px;
}

/*Makes lists appear side by side with no bullets for navs*/
nav ul
{
	list-style: none;
	margin: 0 auto;
	padding-left: 0;
}

nav ul li
{
	display: inline;
}

/*Main navigation properties*/
#mainNav 
{
	margin-left: auto;
	width: 550px;
	height: 77px;
	border-top: solid 1px #ddd;
	border-bottom: solid 1px #ddd;
}
#mainNav ul
{
	width:550px;
	margin-top: 30px;
}

#mainNav ul li a
{
	text-transform: uppercase;
	font-size: 13px;
	color: #163e73;
	padding: 3px 10.5px 3px 10.5px;
	margin: 0;
	border-right: solid 1px #ddd;
	transition: .25s;
}

#mainNav ul li:last-child a
{
	border-right: none;
}

#mainNav ul li a:hover
{
	color: #47c7ea;
}

/*Footer properties*/
#mainFooter 
{
	margin-top: 40px;
	height: 140px;
  	background-color: #163e73;
  	color: #fff;
}

#footerCon
{
	width: 920px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
  	justify-content: flex-start;
}

/*Footer nav properties*/
#footerNav 
{
	width: 550px;
	height: 55px;
	border-top: solid 1px #ddd;
	border-bottom: solid 1px #ddd;
	margin-top: 45px;
}

#footerNav ul
{
	width:550px;
	margin-top: 20px;
	padding-left: 5px;
}

#footerNav ul li a
{
	text-transform: uppercase;
	font-size: 12px;
	color: #fff;
	padding: 3px 9px 3px 9px;
	margin: 0;
	border-right: solid 1px #ddd;
	transition: .25s;
}

#footerNav ul li:last-child a
{
	border: none;
}

#footerNav ul li a:hover
{
	color: #47c7ea;
}

/*Footer copyright properties*/
#copyRight 
{
	margin-left: auto;
	margin-top: 30px;
	width: 265px;
}

#copyRight p
{
	margin-top: 5px;
}

#footerLogo
{
	margin-left: 10px;
}

/*------------------------------Index Page Properties------------------------------*/

/*About London properties*/
#aboutLondon
{
	margin-top: 40px;
	border-bottom: solid 1px #ddd;
	padding-bottom: 40px;
}

/*Index page and Popular page share some properties so define those together here*/
#aboutLondonCon, #budweiserGardensCon
{
	background-color: #163e73;
	border-radius: 10px;
	padding: 13px;
	color: #fff;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

#aboutLondonText h2, #budweiserGardensText h2
{
	margin: 0;
	font-size: 25px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 30px;
}

#aboutLondonText h3, #budweiserGardensText h3
{
	margin: 0;
	font-size: 20px;
	font-style: italic;
	font-weight: normal;
	text-transform: uppercase;
	color: #47c7ea;
	line-height: 30px;
}

#aboutLondonText p
{
	font-size: 15px;
	line-height: 22px;
}

#aboutLondonPic, #budweiserGardensPic
{
	margin-left: auto;
	float: right;
	padding-left: 13px;
}

/*Things To Do properties*/
#thingsToDo
{
	margin-top: 40px;
	border-bottom: solid 1px #ddd;
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
}

.toDo
{
	width: 280px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.toDoText
{
	font-size: 25px;
	text-transform: uppercase;
	margin: 0;
	position: absolute;
	text-align: center;
}

.toDoText a
{
	display: block;
	color: #163e73;
	width: 280px;
	height: 45px;
	background-color: rgba(255, 255, 255, .8);
	padding-top: 15px;
	transition: .5s;
}

.toDoText a:hover
{
	height: 60px;
}

/*------------------------------Popular Page Properties------------------------------*/

/*Budweiser Gardens properties*/
#budweiserGardens
{
	margin-top: 40px;
	border-bottom: solid 1px #ddd;
	padding-bottom: 40px;
	display: flex;
	flex-direction: column;
  	justify-content: flex-start;
}

#budweiserGardensText ul
{
	padding: 0;
	margin: 0;
	list-style-type: none
}

#budweiserGardensText ul li
{
	font-size: 16px;
	line-height: 28px;
}

.event
{
	font-style: italic;
}

#budweiserGardensPic
{
	margin-left: auto;
}

#popularAttractions
{
	margin-top: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
	border-bottom: solid 1px #ddd;
	padding-bottom: 40px;
}

.attraction 
{
	width: 200px;
}

.attraction h3
{
	text-transform: uppercase;
	font-size: 15px;
	font-weight: normal;
	color: #163e73;
	margin-bottom: 5px;
}

.attraction p
{
	line-height: 20px;
	margin-bottom: 10px;
}

.learnMore
{
	text-transform: uppercase;
	font-size: 13px;
	border-left: solid 2px #163e73;
	padding-left: 7px;
	color: #163e73;
	transition: .25s;
}

.learnMore:hover
{
	color: #47c7ea;
	border-left: solid 2px #47c7ea;
	padding-left: 10px;
}

/*------------------------------Contact Page Properties------------------------------*/

#contactContent {
	margin-top: 40px;
	border-bottom: solid 1px #ddd;
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: flex-start;
}

.contactForm
{
	width: 440px;
	background: url(../images/alley.jpg) no-repeat;
}

.contactForm h3
{
	color: #fff;
	text-align: center;
	font-size: 30px;
	text-transform: uppercase;
	margin-top: 35px;
	margin-bottom: 45px;
}

.contactForm p
{
	color: #163e73;
	margin-bottom: 15px;
}

.contactForm label
{
	color: #163e73;
	font-size: 16px;
}

.contactForm input, textarea
{
	display: block;
	margin-top: 5px;
	margin-bottom: -10px;
	padding: 10px;
	width: 420px;
	height: 10px;
	border: 1px solid #333;
	border-radius: 2px;
}

#message
{
	height: 140px;
}

.contactForm input[type='checkbox']
{
	display: inline;
	width: 10px;
}

#submit
{
	width: 120px;
	height: 30px;
	background-color: #163e73;
	color: white;
	text-transform: uppercase;
	padding-top: 7px;
	margin-top: 15px;
}

#contactInfo
{
	margin-left: auto;
	width: 440px;
}

#contactInfoCon
{
	background-color: #163e73;
	border-radius: 10px;
	padding: 15px;
	color: #fff;
}

#contactInfoCon h3
{
	color: #fff;
	font-size: 30px;
	margin: 0;
	text-transform: uppercase;
}

#contactInfoCon ul
{
	list-style: none;
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
}

#contactInfoCon ul li
{
	font-size: 20px;
	font-style: normal;
}

.infoLabel
{
	color: #47c7ea;
	font-size: 22px;
	line-height: 40px;
}